h1 {
    text-align: center;
}

.l-content {
    width: 1200px;
    margin-left: calc((100% - 1200px)/2);
    margin-top: 30px;
    padding: 10px 30px 30px;
    background-color: #f2f2f2;
}

.l-footer {
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 30px 30px calc((100% - 1200px)/2);
    padding: 30px;
    background-color: #f2f2f2;
}
